* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    background-color: #141414;
}

.nav-list {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: white;
    padding: 0 12px;
    position: relative;
    font-weight: 300;
    line-height: 50px;
    font-size: 20px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.section-promo {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 50px 30px 35px;

    align-items: center;
}
main {
    margin-bottom: auto;
}

.section-promo img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    transition: 0.3s;
}

footer {
    background-color: #222222;
}
pre {
    white-space: pre;
    padding: 0;
    margin: 0;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    color: #fff;
}

.section-title {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;

    color: white;
}

.section-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.main-title {
    padding: 0;
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 10px;
    line-height: 50px;
    word-spacing: 3px;
    color: white;
}

.nav-item {
    height: 50px;

    position: relative;
    top: -17px;
}
.nav-item:hover {
    background-color: #333333;
    border-bottom: 2px solid blue;
    transition: 0.3s;
}

header {
    background-color: #222222;
    height: 51px;
}

.nav-item a:hover {
    transition: 0.3s;
    cursor: pointer;
}

.rss {
    width: 121px;
    height: 45px;
    background-image: url(https://cv-hints.netlify.app/assets/svg/rss.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

#education,
#language {
    border-bottom: none;
}

.main-left,
.main-right {
    justify-content: space-between;
    width: 650px;
}

.section-main {
    display: flex;

    justify-content: center;
    border-top: 2px solid grey;
    margin-bottom: 25px;
}

.main-right {
    padding-left: 25px;
}

.section-promo-title {
    border-left: 2px solid grey;
    padding-left: 25px;
    position: relative;
    left: 45px;
}

.git-link {
    display: flex;
    background-color: #222222;
    height: 62px;
    position: relative;
    border-top: 2px solid #222222;
    align-items: center;
}

.git-link:hover {
    background-color: #333333;
    border-top: 2px solid blue;
    transition: 0.3s;
}
